.external .rectangle {
    margin: 20px auto;
}

.external h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 56px;
}

.articles ul { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;/*might change later*/
    width: 1000px;
    margin: 50px auto;
    justify-content: center;

}

.articles ul li {
    border-radius: 20px;
    height: 450px;
    box-shadow: 10px 40px 50px 0px #E5E9F666;
    background-color: white;
    overflow: hidden;
    
}

.articles ul li p{
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    width: 261px;
    padding:10px 30px; 
}

.articles ul li h3 {
    padding: 0 30px;
}

.photo { /*so the writing stays in same label*/
    width: 350px;
    margin: 0 auto;
    
}

.articles img {
    width: 325px;
    object-fit: contain;
}
.articles ul li {
    border-radius: 20px;

}
.external a {
    color: #4089ED;
    padding: 10px 35px;
}

.external .btn {
    display: block;
    margin: 0 auto;
    text-align: center;
}
/*footer section*/
footer {
    margin-top: 191px;
    background: linear-gradient(#67C3F3, #5A98F2);
    display: flex;
    height: 300px;
    color: white;
    justify-content: space-evenly;
    padding: 20px;
    align-items: center;

}

footer p {
    color: white;
    width: 391px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
}

footer .logo-bottom {
    width: 160px;
    position: relative;
    right: 15px;
}

footer h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 60px;
}

footer li {
    font-size: 18px;
    line-height: 38px;
    font-weight: 300;
}



@media(max-width: 1023px) and (min-width: 768px){ /*for tablet*/

    .external h2 {
        font-weight: 700;
        font-size: 28px;
        line-height: 20px;
    }

    .articles ul { 
        gap: 15px;/*might change later*/
        width: 750px;
        margin: 25px auto;
        justify-content: center;

    }

    .articles ul li {
        border-radius: 20px;
        height: 420px;
        box-shadow: 10px 40px 50px 0px #E5E9F666;
        background-color: white;
        overflow: hidden;
        
    }

    .articles ul li p{
        font-size: 14px;
        font-weight: 300;
        line-height: 25px;
        width: 170px;
        padding:10px 20px; 
    }

    .articles ul li h3 {
        padding: 0 20px;
        height: 70px;
    }

    .photo { /*so the writing stays in same label*/
        width: 250px;
        margin: 0 auto;
        
    }

    .articles img {
        width: 250px;
        object-fit: contain;
    }
    .articles ul li {
        border-radius: 20px;

    }
    .external a {
        padding: 10px 20px;
    }

    .external .btn {
   
    }

        footer {
        /* margin-top: 200px; */
        height: 200px;
        /* justify-content: space-evenly; */
        /* padding: 20px; */
        /* align-items: center; */

    }

    footer p {
        width: 275px;
        font-size: 14px;
        line-height: 19px;
        font-weight: 300;
    }

    footer .logo-bottom {
        width: 150px;
    }

    footer h4 {
        font-weight: 700;
        font-size: 18px;
        line-height: 48px;
    }

    footer li {
        font-size: 14px;
        line-height: 28px;
    }

    
}

@media(max-width: 767px) { /*for mobile*/
    .external h2 {
        font-size: 25px;
        line-height: 20px;
    }
    .articles ul { 
    grid-template-columns: 1fr;
    width: 320px;
    gap: 30px;/*might change later*/
    }

    footer {
        margin-top: 191px;
        height: 850px;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 0px 40px 30px;

    }

    footer p{
        width: 380px;
        font-size: 21px;
    }


    footer h4 {
        font-size: 22px;
    }

    footer li {
        font-size: 21px;
    } 

    #copy {
        position: relative;
        top: 655px;
        font-size: 16px;
    }

    .company-info {
        height: 150px;
    }

}