* {
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
}

header {
    width: 90%;
    margin: 0 auto;
    max-width: 1120px;
}
.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

}

.heading button{
    width: 200px;
    height: 56px;
    border-radius: 55px;
    border: none;
    background: none;
    background-color: #458FF6;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.heading button:hover {
    color: #458FF6;
    background-color: white;
    border: 2px solid #458FF6;
}

.heading .illustration {
    width: 693px;
    height: auto;
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}

.top-nav {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.ham { /*hiding the hamburget icon in desktop view*/
    display: none;
}

.top-nav li{
    list-style: none;
    color: #7D7987;
}

.top-nav li:first-child{
    color: black
}

.logo{
    width: 160px;
}


.logo span {
    background-color: #458FF6;
    border-radius: 50%;
    width: 41px;
    height: 41px;
    color: white;
    display: inline-flex; /*so it doesn't become a block element*/
    justify-content: center;
    align-items: center;
    
}

p {
    color: #7D7987; /*fixing all paragraph color*/
}

.virtual {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:445px;
    height: 338px;
}

.virtual h1 {
    font-size: 48px;
    font-weight: 700;
    width:445px;
    /* padding-bottom: 25px; */

}
 .virtual p {
    display: inline-block;
    width: 445px;
    padding: 25px 0;
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    height: 96px;
 }
 /*services section*/
.services {
    margin: 0 auto;
}

.services h2 {
    text-align: center;
}

li { /*all lists should not have a style*/
    list-style: none;
}

.services ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;/*might change later*/
}

.option {
    display: flex;
}

.review {
    background: linear-gradient(#67C3F3, #5498F2);
    color: white;
}

.review p {
    color: white;
}

.review img {
    border: 2px solid white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}


.review h2, article h2 {
    text-align: center;
}

.opinion {
    display: flex;
}

.customer {
    display: flex;
}


.articles ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

@media(max-width: 1023px) { /*for tablet*/
    .heading .illustration {
        width: 350px;
        height: auto;
    }
    .services ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 10px;might change later */
    }

    .virtual {
        width: 200px;
        height: 300px;
    }
    .virtual h1 {
        font-size: 30px;
        /* padding-bottom: 12px; */
    }

    .virtual p {
        
        width: 300px;
        padding: 12.5px 0;
        font-size: 17px;
        line-height: 19px;
        height: 47px;
    }
    .heading button{
        width: 100px;
        height: 28px;
        border-radius: 27px;
        font-size: 10px;
    }


}

@media(max-width: 767px) { /*for mobile*/
 .top-nav {
    display: none; /*hiding the nav in mobile*/
 }
 .heading {
    flex-direction: column;
    align-items: center;
 }

 .heading .illustration{
    width: 400px;
 }
 .heading button {
    margin-bottom: 20px;
 }
 .virtual {
    justify-content: center;
    text-align: center;
    align-items: center;
    height: auto;
    width: 300px;
}

.virtual h1 {
    font-size: 35px;
    font-weight: 650;
    width:300px;
    /* padding-bottom: 25px; */

}
 .virtual p {
    width: 300px;
    padding: 25px 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    height: 90px;
 }
 .ham {
    display: inline;
    height: 20px;
    width: 20px;
 }
   .services ul {
    display: grid;
    grid-template-columns: 1fr;
    /* gap: 10px;might change later */
    }

}

footer {
    background: linear-gradient(#67C3F3, #5498F2);
    display: flex;
    color: white;
    justify-content: space-evenly;
    padding: 20px;
    align-items: center;
}

footer p {
    color: white;
}

footer .logo-bottom {
    width: 160px;
}

